.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25vh;
  background-color: var(--lightblue);
  color: black;
}

.banner .welcome-text {
  width: 75%;
}

.welcome-text .banner-welcome {
  font-size: 3rem;
  font-weight: 700;
}

.welcome-text .banner-text {
  text-align: justify;
  text-align-last: left;
}

.banner .banner-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
  border: none;
  width: 10em;
  height: 2.5em;
}

@media (min-width: 960px){
  .banner .banner-welcome{
    font-size: 4rem;
  }

  .banner .welcome-text{
    font-size: 1.4rem;
  }

  .banner .banner-button{
    font-size: 1.3rem;
  }
}

  .navbar {
    background-color: var(--blue);
    color: white;
  }
  
  .navbar-brand, .navbar-brand:hover{
    color: white;
  }
  
  .navbar button{
    border: 1px solid white;
    color: white;
  }
  
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
  } 
  
  .nav-link{
    color: white;
  }
  
  .nav-link:hover{
    color: white;
  }
  
  .nav-link:active{
    color: white;
  }
  
  .dropdown-menu a{
    color: var(--blue);
  }
  
  @media (min-width: 960px){
    .navbar{
      width: 100%;
    }
  
    .navbar-brand{
      display: none;
    }
  
    .navbar-nav > li{
      text-align: center;
      margin-left: 7rem;
      margin-right: 7rem;
    }
  
    .nav-link{
      font-size: 1.2rem;
    }
  
    .dropdown-item{
      font-size: 1.2rem;
    }
  }

  .catalog-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .course_card {
    margin: 15px auto 15px auto;
  }
  
  .filter {
    border-style: hidden;
    margin-top: 15px;
  }
  
  .course_card h4 {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .course_card p {
    color: gray;
    text-transform: uppercase;
    font-size: 0.8rem;
  }

  .text-stars{
    text-align: center;
    font-size: 0.8rem;
  }

  .text-button{
    text-align: center;
    margin: 1em auto 0 auto;
  }

  .course-tab{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
  
  .course-tab li {
    width: 16%;
    text-align: center;
    margin: 7px;
    border-bottom: 1px solid var(--blue);
  }

  .course-tab li:hover{
    border-bottom: 1px solid var(--green);
  }

  .course-tab li a{
    font-size: 1.2rem;
    color: var(--blue);
  }

  .course-tab li a:hover{
    color: var(--green);
  }

  .course-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
  }

  .course-img img{
    max-width: 100%;
  }

  .thumbnail-imgs {
    display: none;
  }

  .course-info h2 {
    text-align: center;
    font-weight: bold;
  }
  
  .course-info h5 {
    text-align: center;
    color: gray;
    font-style: italic;
  }
  
  .course-info p {
    text-align: justify;
  }
  
  .course-info-title {
    margin-top: 10px;
  }

  .text-start{
    font-size: 0.9rem;
  }

  @media (min-width: 960px){
    .course_card {
      margin: 15px auto 15px auto;
    }
    
    .filter {
      border-style: hidden;
      margin-top: 15px;
    }
    
    .course_card h4 {
      font-weight: bold;
      font-size: 1.8rem;
    }
    
    .course_card p {
      color: gray;
      text-transform: uppercase;
      font-size: 1.1rem;
    }

    .text-stars{
      text-align: left;
      font-size: 1rem;
    }

    .text-start{
      font-size: 1rem;
    }
  
    .text-button{
      text-align: right;
      margin: 1em auto 0 auto;
    }
    
    .course-container{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    .course-img img{
      max-width: 35rem;
    }

    .thumbnail-imgs{
      display: flex;
      justify-content: space-between;align-self: center;
    }

    .thumbnail-imgs img{
      margin-top: 1.5rem;
      max-width: 10rem;
    }

    .course-info{
      margin: 5rem;
    }
    
    .course-info h5 {
      text-align: left;
      color: gray;
      font-style: italic;
    }

    .course-info h2 {
      text-align: left;
      font-weight: bold;
    }
    
    .course-info p {
      text-align: justify;
      font-size: 1.2rem;
    }
  }