<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/34cefa1f3d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="base.css">
    <title>Sign Up</title>
  </head>
  <body>
    <div class="container">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
              <li class="breadcrumb-item"><a href="">Account</a></li>
              <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
          </ol>
      </nav>
  
      <div class="h-100 w-100 d-flex align-items-center justify-content-center signup">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Random-house2.jpg/245px-Random-house2.jpg"
              alt="">
          <div class="signup-form">
              <p>Be our classmate!</p>
              <form class="signup-fields" method="POST" action="{% url 'signup' %}">
                  {% csrf_token %}
                  <div class="input-group flex-nowrap">
                      <span class="input-group-text" id="addon-wrapping"><i class="fa-regular fa-envelope"></i></span>
                      {{ form.email }}
                  </div>
                  <div class="input-group flex-nowrap">
                      <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-at"></i></span>
                      {{ form.username }}
                  </div>
                  <div class="input-group flex-nowrap">
                      <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-key"></i></span>
                      {{ form.password1 }}
                  </div>
                  <div class="input-group flex-nowrap">
                      <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-lock"></i></span>
                      {{ form.password2 }}
                  </div>
                  <input type="submit" value="Sign Up" class="btn btn-primary signup-form-button">
              </form>
          </div>
      </div>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>